<!doctype html>
<html ng-app='dinnerRoulette'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width; initial-scale=1.0" />
  <link rel='stylesheet' href='style.css'>
  <script src="http://code.angularjs.org/1.2.5/angular.min.js"></script>
  <script src="http://code.angularjs.org/1.2.5/angular-animate.min.js"></script>
  <script src="scripts.js"></script>
  <title>Hack Reactor Presents - Dinner Roulette</title>
</head>
<body ng-controller='main'>
  <div class='bg'></div>
  <div ng-hide='submitted'>
    <div class='column side'>
      <h1 class='clickable' ng-click='selectAll()'>High Society:</h1>
      ➳ <input autofocus='autofocus' type='text' ng-enter='select()' ng-model='search'/>
      <ul>
        <li class='student animate-repeat clickable' ng-repeat='student in students | filter:{selected:false} | filter:search | orderBy:"name"' ng-click='select(student)'>{{student.name}}</li>
      </ul>
    </div>
    <div class='column side'>
      <h1 class='clickable' ng-click='unselectAll()'>Invited Guests:</h1>
      <button class='clickable' ng-click='match()'>Invite</button>
      <ul>
        <li class='student animate-repeat clickable' ng-repeat='student in students | filter:{selected:true} | orderBy:"name"' ng-click='unselect(student)' ng-class='student.class'>{{student.name}}</li>
      </ul>
    </div>
  </div>
  <div class='column central' ng-show='submitted'>
    <h1>Tonight's Dining Groups:</h1>
    <div class='dining-group' ng-repeat='group in groups'>
      <h4>Group {{$index + 1}}:</h4>
      <ul>
        <li ng-repeat='person in group'>{{person}}</li>
      </ul>
    </div>
  </div>
</body>
</html>