<!doctype html>
<html ng-app='dinnerRoulette'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width; initial-scale=1.0" />
  <link rel='stylesheet' href='style.css'>
  <script src="http://code.angularjs.org/1.2.5/angular.min.js"></script>
  <script src="http://code.angularjs.org/1.2.5/angular-animate.min.js"></script>
  <script src="scripts.js"></script>
  <title>Hack Reactor Presents - Dinner Roulette</title>
</head>
<body ng-controller='main'>
  <div class='column'>
    <h2>Search for students:</h2>
    <input type='text' ng-enter='select()' ng-model='search'/>
    <ul>
      <li ng-repeat='student in students | filter:{selected:false} | filter:search | orderBy:"name"' ng-click='select(student)'>{{student.name}}</li>
    </ul>
  </div>
  <div class='column'>
    <h2>Selected Students:</h2>
    <ul>
      <li ng-repeat='student in students | filter:{selected:true} | orderBy:"name"' ng-click='unselect(student)' ng-class='student.class'>{{student.name}}</li>
    </ul>
  </div>
</body>
</html>